{% load static %}
<link rel="stylesheet" href="{% static 'info/cf-admin.css' %}">

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Confluence Admin Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="navigate_bar">
  <a class="baf_link" href="{% url 'info:bitbucket-admin' %}">Bitbucket Admin Finder</a>
  <a class="cminfo_link" >CMInfo</a>
</div>
<p class="topic">Confluence/Wiki Admin Finder</p>
<body class="align">
  <div class="grid">
    <form action="/info/confluence-admin/" method="post" class="search">
      <div class="form_field">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search" class="button">
      </div>
    </form>
  </div>
</body>

</html>
