

<div class="region region-page-header">
  <div class="content">
    <div id="global-header"></div>
  </div>
</div>
 
<div class="cb-local-navigation">
	
<a href="{% url 'info:confluence-admin' %}">Confluence Admin Info</a><br>
<a href="{% url 'info:bitbucket-admin' %}">Bitbucket Admin Info</a>
	
</div>
 
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-8">
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row">
        <div class="col-xs-12">
        </div>
 
        <div class="col-xs-12">
        </div>
 
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class="region region-page-footer">
  <div class="content">
    <div id="global-footer"></div>
  </div>
</div>