@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Ubuntu|Roboto+Slab);

.navigate_bar {
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.cminfo_link{
  margin-left:10px;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  width: 90%;
}

:root {
  --bodyBackgroundColor: #F0F0F0;
  --bodyColor: #000;
  --bodyFontFamily: 'Roboto Slab';
  --bodyFontFamilyFallback: serif;
  --bodyFontSize: 24px;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: var(--bodyBackgroundColor);
  color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: 50px;
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  margin: 0;
  min-height: 80vh;
}

/* modules/form.css */

::placeholder {
  color: #42454e;
}

input {
  appearance: none;
  border: none;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

input[type="submit"] {
  cursor: pointer;
}

.form_field {
  display: flex;
  flex-wrap: wrap;
}

.form_input {
  flex-grow: 1;
}

/* modules/search.css */

:root {
  --searchBackgroundColor: #888888;
  --searchBorderRadius: .125rem;
  --searchFontSize: 16px;
  --searchPadding: .5rem;

  --searchInputBorderRadius: 8px;

  --searchInputSearchBackgroundColor: #fff;
  --searchInputSearchColor: #42454e;
  --searchInputSearchPaddingHorizontal: .5rem;
  --searchInputSearchPaddingVertical: .5rem;

  --searchInputButtonBackgroundColor: #006298;
  --searchInputButtonColor: #fff;
  --searchInputButtonFontWeight: bold;
  --searchInputButtonPaddingHorizontal: .5rem;
  --searchInputButtonPaddingVertical: .5rem;
  --searchInputButtonHoverBackgroundColor: #0077C8;
}

.search {
  background-color: var(--searchBackgroundColor);
  border-radius: var(--searchBorderRadius);
  font-size: var(--searchFontSize);
  padding: var(--searchPadding);
}

.search input[type="search"],
.search input[type="submit"] {
  border-radius: var(--searchInputBorderRadius);
}

.search input[type="search"] {
  background-color: var(--searchInputSearchBackgroundColor);
  color: var(--searchInputSearchColor);
  padding: var(--searchInputSearchPaddingVertical) var(--searchInputSearchPaddingHorizontal);
}

.search input[type="submit"] {
  background-color: var(--searchInputButtonBackgroundColor);
  color: var(--searchInputButtonColor);
  font-weight: var(--searchInputButtonFontWeight);
  margin-left: .5rem;
  padding: var(--searchInputButtonPaddingVertical) var(--searchInputButtonPaddingHorizontal);
}

.search input[type="submit"]:focus,
.search input[type="submit"]:hover {
  background-color: var(--searchInputButtonHoverBackgroundColor);
}
